$blue-med: rgb(94, 94, 204)
$blue-dark: rgb(42, 42, 196)
$blue-light: rgb(158, 175, 252)
$background-white: white
$card-blue-light: #d2d2dd
$row-gap: 10px

html
    scroll-behavior: smooth
    scroll-padding-top: 68px

body
    background: rgb(220, 218, 235)
    margin: 0

main
    width: 1200px
    margin: 0 auto
    display: grid
    column-gap: 10px
    row-gap: $row-gap
    grid-template-columns: (4, 1f)
    grid-template-rows: auto
    grid-template-areas: "main-title main-title main-title main-title" "about about about about" "quote quote quote quote" "job-exp job-exp education education" "skills extracurricular extracurricular extracurricular"

    #main-title
        grid-area: main-title
        text-align: center

header
    position: sticky
    top: 0
    nav
        background-color: $blue-med
        display: flex
        justify-content: space-evenly
        padding: 20px
        a
            text-decoration: none
            color: white
#about
    grid-area: about
    display: flex
    #about__photo
        max-width: 200px
        height: auto

    #about__text-cnt
        background-color: $background-white
        padding: 50px

#quote
    grid-area: quote
    background-color: $blue-dark
    text-align: center
    color: white
    padding: 20px 0

    #quote__cite
        font-size: 1.5em

#job-exp
    grid-area: job-exp
    padding: 10px
    background-color: $background-white
    text-align: center

    #job-exp__experience
        .job-exp__jobs
            background-color: $card-blue-light
            border-radius: 10px
            text-align: center
            padding: 5px

            .job-exp__company-logo
                max-width: 100px
                height: auto

        #job_exp__logo01
            width: 150px
            border-radius: 10px
#education
    grid-area: education
    background-color: $background-white
    padding: 10px
    h2
        text-align: center

#skills
    grid-area: skills
    background-color: $background-white
    padding: 10px

    h2
        text-align: center
    h3
        margin: 0

    #skills__full
        display: grid
        grid-template-columns: (3, 1f)
        grid-template-rows: auto
        grid-template-areas: "skills__back skills__front skills__others"

        #skills__back
            grid-area: skills__back
        #skills__front
            grid-area: skills__front
        #skills__others
            grid-area: skills__others

#extracurricular
    grid-area: extracurricular
    background-color: $background-white
    padding: 10px
    h2
        text-align: center

    #extracurricular__full
        display: grid
        grid-template-columns: (2, 1f)
        grid-template-rows: auto
        grid-template-areas: "extracurricular__curso01 extracurricular__curso02"

footer
    background-color: rgb(62, 62, 62)
    color: white
    padding: 10px
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    margin-top: $row-gap

    #footer__social-medias
        .footer__social-medias_icons
            max-width: 40px
            height: auto

    #footer__email
        p
            margin: 0

$layout-breakpoint-small: 480px
$width-max-small: 350px
$font-size-title-small: 18px
$font-size-sub-title-small: 17px
$font-size-small: 16px

@media (max-width: $layout-breakpoint-small)

    html
        scroll-padding-top: 50px

    header
        nav
            padding: 20px
            font-size: 18px
    main
        max-width: $width-max-small
        column-gap: 5px
        row-gap: $row-gap
        grid-template-columns: (1, 1f)
        grid-template-areas: "main-title" "about" "quote" "job-exp" "education" "skills" "extracurricular"

        h1
            font-size: $font-size-small

    #about
        flex-flow: column wrap
        font-size: $font-size-small
        margin: 0 auto

        #about__photo
            max-width: 150px
            margin: 0 auto
            border-radius: 20px

        #about__text-cnt
            max-width: $width-max-small
            max-height: auto
            border-radius: 20px

    #quote
        padding: 10px 0
        max-width: $width-max-small
        border-radius: 20px

        #quote__cite
            font-size: 14px
        p
            font-size: 12px

    #job-exp
        max-width: $width-max-small
        border-radius: 20px

        h2
            font-size: $font-size-title-small
        #job-exp__experience
            font-size: $font-size-small

    #education
        max-width: $width-max-small
        border-radius: 20px

        h2
            font-size: $font-size-title-small
        h3
            font-size: 14px
        ul
            font-size: $font-size-small

    #skills
        max-width: $width-max-small
        border-radius: 20px

        h2
            font-size: $font-size-title-small
        h3
            font-size: 14px
        ul
            font-size: $font-size-small

        #skills__full
            grid-template-columns: (1, 1f)
            grid-template-areas: "skills__back" "skills__front" "skills__others"

    #extracurricular
        max-width: $width-max-small
        padding: 5px
        font-size: $font-size-small
        border-radius: 20px

        h2
            font-size: $font-size-title-small
        h3
            text-align: center
            font-size: 14px

        #extracurricular__full
            grid-template-columns: (1, 1f)
            grid-template-areas: "extracurricular__curso01" "extracurricular__curso02"

    footer
        padding: 5px
        flex-flow: column wrap
        align-items: center
        margin-top: $row-gap
        font-size: 12px
